* {
    padding: 0;
    margin: 0;
  }
.top{
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    position:fixed;
    background-color: white;
}
.top>:nth-child(1):first-letter{
    color: red;
}
.top button{
    width: 130px;
    border-radius: 50px;
    color: white;
    background-color: black;
    padding: 5px;
    cursor: pointer;
}