
.container{
    background-color: white;
    color: rgb(115, 114, 114);
    display: inline-block;
    vertical-align: middle;
    /* border: 1px solid red; */
    margin-top: 120px;
}
.container>h1{
    font-size: 25px;
    font-weight: 800;
}
.container>p{
    font-size: 13px;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 13px;
}
.container2>p:nth-child(2):hover{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.forms{
    display: grid;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: left;
    margin-top: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 35px;
    border-radius: 5px;
}
.forms>input{
    width: 320px;
    border: 1px solid rgb(151, 151, 154);
    padding: 20px;
    border-radius: 5px;
}
.forms>input:hover{
    border: 1px solid rgb(220, 158, 15);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(245, 245, 245);
}
.pattern{
    text-align: end;
    cursor: pointer;
    color: rgb(0, 140, 255);
    font-size: 14px;
}
.pattern>p:hover{
    text-decoration: underline;
}
.forms>button{
    /* width: 320px; */
    padding: 10px;
    background-color:rgb(81, 159, 238);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}
.forms>button:hover{
    background-color:rgb(11, 122, 225);
}
.formspass{
    display: flex;
    align-items: center;
}
.formspass>p{
    background-color: rgb(42, 160, 160);
    padding: 7px;
    margin-bottom: 15px;
    margin-left: 284px;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
    border: none;
    cursor: pointer;
    color: white;
    background-color:black;
    transform: translateX(2px);
}
.formspass>input{
    width: 320px;
    border: 1px solid rgb(151, 151, 154);
    padding: 20px;
    border-radius: 5px;
}

@media only screen and (max-width:768px){
    .forms{
        display: grid;
        justify-content: center;
        width: 100%;
    }
    .forms>input{
        width: 250px;
        border: 1px solid rgb(151, 151, 154);
        padding: 20px;
        border-radius: 5px;
    }
    .formspass>input{
        width: 250px;
    }
    .formspass>p{
        margin-left: 213px;
    }
    
}
@media only screen and (max-width:426px){
    .forms>input{
        width: 250px;
    }
}
@media only screen and (max-width:320px){
    .forms{
        width: 80%;
    }
    .forms>input{
        width: 200px;
    }
    .formspass>input{
        width: 200px;
    }
    .formspass>p{
        margin-left: 162px;
    }
}