table {
  position: absolute;
  width: 71%;
  left: 23rem;
  margin-top: 80px;
  padding: 10px;
}
table thead {
  font-size: 20px;
  background-color: rgb(28, 208, 240);
  color: black;
  
}
thead th {
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid rgb(41, 38, 38);
}
tr {
  font-size: 20px;
  padding: 50px;
  margin-bottom: 50px;
  
}
td {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid rgb(26, 25, 25);
}
td > button {
    width: 100px;
  background-color: rgb(220, 103, 103);
  padding: 5px;
  border-radius: 10px;
  
}
td > button:hover {
  background-color: white;
  border: 2px solid rgb(220, 103, 103);
  
}
tbody img {
  width: 100px;
  border-radius: 100%;
  margin: auto;
}
.usersimage>img{
  width: 70px;
}
.add{
  font-size: 20px;
  position: absolute;
  text-align: center;
  left: 20rem;
  margin-top: 100px;
  color: blue;
  text-decoration: underline;
}
.update{
  position: absolute;
  width: 40%;
  margin-top: 10%;
  left: 35%;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: aliceblue;
}
.form{
  display: grid;
  margin-top: 30px;
}
.form>h1{
  font-size: 30px;
  font-weight: 600;
  color: teal;
}
.update>p{
  border-radius: 100px;
  top: 0;
  right: 0;
  background-color: red;
  width: 30px;
  cursor: pointer;
  font-size: 30px;

}
.form>input{
  border: 1px solid rgb(155, 148, 148);
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
}
.form>select{
  border: 1px solid rgb(155, 148, 148);
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
.form button{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(255, 191, 0);
  border-radius: 5px;
  padding: 10px;
  border: 2px solid rgb(255, 136, 0);
}
.form button:hover{
  background-color: white;
  border: 2px solid rgb(255, 136, 0);
  color: black;
}
@media only screen and (max-width:768px){
  table {
    width: 50%;
    left: 12rem;
  }
  .userno{
    display: none;

  }
}
@media only screen and (max-width:426px){
  table {
    width: 50%;
    left: 12rem;
  }
  .userno{
    display: none;

  }
  .update{
    position: absolute;
    width: 100%;
    margin-top: 100%;
    left: 35%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: aliceblue;
  }
}